&.pt-card {
	background-color: #fff;
	margin: 40px 0;
	padding: 0 0 1px;

	.pt-header {
		background-color: #333;
		color: white;
		text-align: center;
		font-weight: 100;
		padding: 40px;

		&.pt-header-bike {
			background: url("../img/bike.png") center;
			background-size: 100%;
		}
		&.pt-header-quad {
			background: url("../img/quad.png") center;
			background-size: 100%;
		}
		&.pt-header-motorbike {
			background: url("../img/motorbike.png") center;
			background-size: 100%;
		}

		@extend .animate;

		.pt-name {
			font-size: 52px;
		}
		.pt-price {
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
		}
	}
	&:hover {
		border: 20px;
		.pt-header {
			background-size: 110%;
		}
	}


	hr {
		margin-top: 25px;
		border-top: 1px solid #ccc;
	}

	ul {
		padding: 40px 55px 0;;
		li {
			padding: 8px 0;
			list-style-type: none;
			font-size: 16px;
		}
	}

	.pt-btn {
		border-radius: 3px;
		border: 3px solid #aaa;
		min-width: 70%;
		display: table;
		margin: 40px auto;
		padding: 15px 20px;
		text-transform: uppercase;
		font-weight: bold;

		@extend .animate;

		&:hover {
			background: #aaa;
			color: white;
		}

	}
}