&.pt-slim {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 40px 0;
	@extend .animate;

	.pt-name, .pt-price, .pt-tag {
		text-align: center;
		font-weight: 100;
	}

	.pt-name {
		padding-top: 20px;
		font-size: 50px;
	}
	.pt-price {
		font-weight: 400;
		opacity: 0.6;
		color: #999;

		b {
			color: #222;
		}
	}
	.pt-tag {
		border: 1px solid #aaa;
		background-color: #fff;
		border-radius: 15px;
		padding: 5px 15px;
		margin: -35px auto 0;
		display: table;
		font-size: 12px;
	}

	hr {
		margin-top: 25px;
		border-top: 1px solid #ccc;
	}

	ul {
		padding-top: 20px;
		li {
			padding: 5px 0;
			list-style-type: none;

			&:before {
				font-family: 'Black Tie', sans-serif;
				font-weight: 200;
				content: '\f012';
				margin: 0 5px 0 -15px;
				color: #111;
			}
		}
	}

	.pt-btn {
		border-radius: 15px;
		border: 1px solid #aaa;
		min-width: 80%;
		display: table;
		margin: 40px auto 20px;
		@extend .animate;

		&:hover {
			background-color: #eee;
		}
	}

	&:hover {
		margin-top: 30px;
	}


}