$red: #dd4e4a;
$blue: #00a2ff;
$green: #1cbd9e;
$purple: #5e6a9a;

body {
	padding: 50px 0;
	background: #f3f3f3;
	color: #555;
	font-family: 'Open Sans', sans-serif;
}

h1.title {
	font-weight: 100;
	text-align: center;
}

.bg {
	padding: 40px 0;
	&.bg-grey {
		background-color: #333;
		h1.title {
			color: white;
		}
	}
}

.animate, .animate:hover, .animate:focus, .animate:active {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.cp-red {
	background-color: $red;
}
.cp-blue {
	background-color: $blue;
}
.cp-green {
	background-color: $green;
}
.cp-purple {
	background-color: $purple;
}

.cp-red-before {
	li:before {
		color: $red !important;
	}
}
.cp-blue-before {
	li:before {
		color: $blue !important;
	}
}
.cp-green-before {
	li:before {
		color: $green !important;
	}
}
.cp-purple-before {
	li:before {
		color: $purple !important;
	}
}

.cp-red-hover:hover {
	background: $red !important;
	color: white !important;
}
.cp-blue-hover:hover {
	background: $blue !important;
	color: white !important;
}
.cp-green-hover:hover {
	background: $green !important;
	color: white !important;
}
.cp-purple-hover:hover {
	background: $purple !important;
	color: white !important;
}



#color-picker {
	background-color: #333;
	border: 3px solid #111;
	padding: 13px 30px;
	position: fixed;
	height: 100px;
	width: 200px;
	top: 50px;
	opacity: 0.7;
	left: -3px;
	@extend .animate;

	&:hover {
		opacity: 1;
	}
	.row > div {
		padding: 5px;
		text-align: center;
	}
	span {
		font-weight: 100;
		padding: 10px 0;
		color: white;
	}
	.cp {
		display: inline-block;
		border-radius: 25px;
		margin: 2px 5px;
		cursor: pointer;
		height: 25px;
		width: 25px;
	}
}





.pricing-tables, .pt {
	&.pt-slim {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 6px;
		margin: 40px 0;

		.pt-name, .pt-price, .pt-tag {
			text-align: center;
			font-weight: 100;
		}

		.pt-name {
			padding-top: 20px;
			font-size: 50px;
		}
		.pt-price {
			font-weight: 400;
			opacity: 0.6;
			color: #999;

			b {
				color: #222;
			}
		}
		.pt-tag {
			border: 1px solid #aaa;
			background-color: #fff;
			border-radius: 15px;
			padding: 5px 15px;
			margin: -35px auto 0;
			display: table;
			font-size: 12px;
		}

		hr {
			margin-top: 25px;
			border-top: 1px solid #ccc;
		}

		ul {
			padding-top: 20px;
			li {
				padding: 5px 0;
				list-style-type: none;

				&:before {
					font-family: 'Black Tie', sans-serif;
					font-weight: 200;
					content: '\f012';
					margin: 0 5px 0 -15px;
					color: #111;
				}
			}
		}

		.pt-btn {
			border-radius: 15px;
			border: 1px solid #aaa;
			min-width: 80%;
			display: table;
			margin: 40px auto 20px;
		}
	}

	&.pt-simple {
		background-color: #fff;
		border: 1px solid #ccc;
		margin: 40px 0;

		.pt-name, .pt-price, .pt-tag {
			text-align: center;
			font-weight: 100;
		}

		.pt-name {
			padding-top: 40px;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.pt-price {
			text-transform: uppercase;
			padding: 20px 0;
			font-weight: bold;
			opacity: 0.8;
			color: #777;

			b {
				color: #222;
				font-size: 70px;
				font-weight: 100;
			}
			i {
				vertical-align: top;
				margin-top: 13px;
				display: inline-block;
			}
		}
		.pt-tag {
			border: 1px solid #aaa;
			background-color: #fff;
			border-radius: 15px;
			padding: 5px 15px;
			margin: -35px auto 0;
			display: table;
			font-size: 12px;
		}

		hr {
			margin-top: 25px;
			border-top: 1px solid #ccc;
		}

		ul {
			padding: 20px 0 0;
			li {
				padding: 8px 0;
				list-style-type: none;
				text-align: center;
				font-size: 16px;
			}
		}

		.pt-btn {
			border-radius: 3px;
			border: 3px solid #aaa;
			min-width: 70%;
			display: table;
			margin: 40px auto;
			padding: 15px 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&.pt-minimal {
		margin: 40px 0;

		.pt-name, .pt-price, .pt-tag {
			text-align: center;
			font-weight: 100;
		}

		.pt-tag {
			padding: 10px 0;
			font-size: 50px;
		}

		.pt-name {
			text-transform: uppercase;
			font-weight: bold;
		}
		.pt-price {
			text-transform: uppercase;
			font-weight: bold;
			padding: 20px 0;
			opacity: 0.8;
			color: #777;

			b {
				font-weight: bold;
				font-size: 40px;
				display: block;
				color: #222;
			}
		}

		ul {
			padding: 20px 0 0;
			li {
				padding: 12px 0;
				list-style-type: none;
				text-align: center;
				font-size: 16px;
				font-weight: 100;
			}
		}

		.pt-btn {
			border-radius: 15px;
			border: 1px solid #222;
			background: #222;
			color: #fff;
			min-width: 60%;
			display: table;
			margin: 30px auto 20px;
		}
	}

	&.pt-card {
		background-color: #fff;
		margin: 40px 0;
		padding: 0 0 1px;

		.pt-header {
			background-color: #333;
			color: white;
			text-align: center;
			font-weight: 100;
			padding: 40px;

			&.pt-header-bike {
				background: url("../img/bike.png") center;
				background-size: 100%;
			}
			&.pt-header-quad {
				background: url("../img/quad.png") center;
				background-size: 100%;
			}
			&.pt-header-motorbike {
				background: url("../img/motorbike.png") center;
				background-size: 100%;
			}

			@extend .animate;

			.pt-name {
				font-size: 52px;
			}
			.pt-price {
				text-transform: uppercase;
				margin: 0;
				font-weight: bold;
			}
		}
		&:hover {
			border: 20px;
			.pt-header {
				background-size: 110%;
			}
		}


		hr {
			margin-top: 25px;
			border-top: 1px solid #ccc;
		}

		ul {
			padding: 40px 55px 0;;
			li {
				padding: 8px 0;
				list-style-type: none;
				font-size: 16px;
			}
		}

		.pt-btn {
			border-radius: 3px;
			border: 3px solid #aaa;
			min-width: 70%;
			display: table;
			margin: 40px auto;
			padding: 15px 20px;
			text-transform: uppercase;
			font-weight: bold;

			@extend .animate;

			&:hover {
				background: #aaa;
				color: white;
			}

		}
	}

	&.pt-row {
		background-color: #fff;
		border: 1px solid #ddd;
		margin: 5px 0;
		padding: 20px;
		border-radius: 5px;

		.pt-header {
			background-color: #333;
			color: white;
			text-align: center;
			border-radius: 100px;
			margin: 0 auto;
			width: 60px;
			height: 60px;

			&.pt-header-bronze {
				background-color: #965A38;
			}
			&.pt-header-silver {
				background-color: #A8A8A8;
			}
			&.pt-header-gold {
				background-color: #D9A441;
			}
			&.pt-header-platinum {
				background-color: #965A38;
			}
			@extend .animate;

			.pt-price {
				text-transform: uppercase;
				font-weight: 100;
				padding: 16px 0;
				margin: 0;
			}
		}

		.pt-name {
			text-transform: uppercase;
			font-weight: bold;
			margin: 2px 0 0;
		}
		&:hover {
			.pt-header {
				background-size: 110%;
			}
		}


		hr {
			margin-top: 25px;
			border-top: 1px solid #ccc;
		}

		ul {
			padding: 10px 10px 0;
			li {
				padding: 8px 0;
				list-style-type: none;
				font-size: 16px;
			}
		}

		.pt-btn {
			border-radius: 3px;
			border: 2px solid #aaa;
			min-width: 70%;
			display: table;
			margin: 7px auto;
			padding: 10px 20px;
			text-transform: uppercase;
			font-weight: bold;
			float: right;

			@extend .animate;

			&:hover {
				background: #aaa;
				color: white;
			}

		}
	}

	&.pt-unified {
		background-color: #fff;
		border: 1px solid #ccc;
		margin: 40px 0;

		.pt-name, .pt-price, .pt-tag {
			text-align: center;
			font-weight: 100;
		}

		.pt-name {
			padding-top: 40px;
			padding-bottom: 20px;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.pt-price {
			text-transform: uppercase;
			font-weight: bold;
			opacity: 0.8;
			color: #777;
			background: #ddd;
			margin: auto;
			display: table;
			padding: 30px;
			border-radius: 90px;

			b {
				color: #222;
				font-size: 70px;
				font-weight: 100;
			}
			i {
				vertical-align: top;
				margin-top: 13px;
				display: inline-block;
			}
		}
		.pt-tag {
			border: 1px solid #aaa;
			background-color: #fff;
			border-radius: 15px;
			padding: 5px 15px;
			margin: -35px auto 0;
			display: table;
			font-size: 12px;
		}

		hr {
			margin-top: 25px;
			border-top: 1px solid #ccc;
		}

		ul {
			padding: 20px 0 0;
			li {
				padding: 8px 0;
				list-style-type: none;
				text-align: center;
				font-size: 16px;
			}
		}

		.pt-btn {
			border-radius: 3px;
			border: 3px solid #aaa;
			min-width: 70%;
			display: table;
			margin: 40px auto;
			padding: 15px 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

.row {
	&.row-unified {
		> div:first-child {
			padding-left: 30px;
			padding-right: 0;
			> .pt-unified {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				margin-right: -1px;
			}
		}
		> div:nth-child(2) {
			padding-left: 0;
			padding-right: 0;
			> .pt-unified {
				margin: 10px 0;
				padding: 10px;
				border-radius: 10px;

				.pt-price {
					margin: 20px auto;
				}
			}
		}
		> div:last-child {
			padding-left: 0;
			padding-right: 30px;
			> .pt-unified {
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				margin-left: -1px;
			}
		}
	}
}